<div class="container">

    <div class="bs-docs-section">
        <div class="row">
          <p><%= @message %></p>
          <div>
          <pre>
            <%= @result %>
          </pre>
          </div>
          
          <div>
            <p>配列判定=<%= @arr_ret %></p>
          </div>
        </div>
    </div>
</div>