<div class="container">

    <div class="bs-docs-section">
        <div class="row">
          <p><%= @message %></p>
          <pre>
            <%= @result %>
          </pre>
        </div>
    </div>
</div>