<div class="bs-docs-section　clearfix">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="page-header">
          <h2 id="nav-tabs">銀座駅</h2>
        </div>
        <div class="bs-component">
          <div class="col-lg-12 col-md-12">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">坊っちゃん</a></li>
              <li class="dropdown"><li><a href="#dropdown1" data-toggle="tab">雨ニモマケズ</a></li></li>
              <li class="dropdown"><li><a href="#dropdown2" data-toggle="tab">雨ニモマケズ</a></li></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
                <p>親讓りの無鐵砲で小供の時から損ばかりして居る。小學校に居る時分學校の二階から飛び降りて一週間程腰を拔かした事がある。なぜそんな無闇（むやみ）をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出して居たら、同級生の一人が冗談に、いくら威張つても、そこから飛び降りる事は出來まい。弱虫やーい。と囃（はや）したからである。小使（こづかひ）に負ぶさつて歸つて來た時、おやぢが大きな眼をして二階位（にかいぐらゐ）から飛び降りて腰を拔かす奴があるかと云つたから、此次（このつぎ）は拔かさずに飛んで見せますと答へた。</p>
              </div>
              <div class="tab-pane fade" id="profile">
                <p>昔しの書生は、笈を負ひて四方に遊歴し、此人ならばと思ふ先生の許に落付く、故に先生を敬ふ事、父兄に過ぎたり、先生も亦弟子に対する事、真の子の如し、是でなくては真の教育といふ事は出来ぬなり、今の書生は学校を旅屋の如く思ふ、金を出して暫らく逗留するに過ぎず、厭になればすぐに宿を移す、かゝる生徒に対する校長は、宿屋の主人の如く、教師は番頭丁稚なり、主人たる校長すら、時には御客の機嫌を取らねばならず、況んや番頭丁稚をや、薫陶所か解雇されざるを以て幸福と思ふ位なり、生徒の増長し教員の下落するは当前の事なり。</p>
              </div>
              <div class="tab-pane fade" id="dropdown1">
                <p>雨ニモマケズ 風ニモマケズ 雪ニモ夏ノ暑サニモマケヌ 丈夫ナカラダヲモチ 慾ハナク 決シテ瞋ラズ イツモシズカニワラッテイル 一日ニ玄米四合ト 味噌ト少シノ野菜ヲタベ アラユルコトヲ ジブンヲカンジョウニ入レズニ ヨクミキキシワカリ ソシテワスレズ</p>
              </div>
              <div class="tab-pane fade" id="dropdown2">
                <p>わたくしといふ現象は 假定された有機交流電燈の ひとつの青い照明です （あらゆる透明な幽霊の複合体） 風景やみんなといっしょに せはしくせはしく明滅しながら いかにもたしかにともりつづける 因果交流電燈の ひとつの青い照明です （ひかりはたもち、その電燈は失はれ）</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bs-docs-section　clearfix">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="bs-component">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  var map;
  function initMap() {
      map = new google.maps.Map(document.getElementById('map'), { // #sampleに地図を埋め込む
          center: { // 地図の中心を指定
              lat: 35.6713193, // 緯度
              lng: 139.76476 // 経度
          },
          zoom: 19 // 地図のズームを指定
      });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwx67fP3YNzqxA3eWSYqGhctUFfsKhyKM&callback=initMap"></script>
  