body {  }
a{
  color: #333;
  display: block;
}
footer > .container{
  padding-top: 40px;
  border-top: 1px solid #ddd;
}
.mt-20{
  margin-top: 20px;
}
.services {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.services .icon {
    display: table;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.services .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    line-height: 40px;
    color: #000;
}
.services h3 {
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.icon-diamond:before {
    content: "\e910";
}
.icon-lab2:before {
    content: "\e925";
}
.icon-settings:before {
    content: "\e90a";
}

#gtco-features, #gtco-features-2, #gtco-products, #gtco-services, #gtco-subscribe, #gtco-footer, .gtco-section {
    padding: 7em 0;
    clear: both;
    position: relative;
}

td:first-child{
  width: 40px;
}
.symbol-metro{
  width: 30px;
}
.border-grey{
  border-bottom: 1px solid #ddd;
}
.theme-color{
  color: #00acd4 !important;
}
.bg-theme-color{
  background: #00acd4 !important;
  border-color: #00acd4 !important;
}
.text-white{
  color: #fff !important;
}
#map{
  height: 400px;
}
  @media ( min-width: 768px ) {
    #banner {
      min-height: 150px;
      border-bottom: none;
    }
    .bs-docs-section {
      margin-top: 8em;
    }
    .bs-component {
      position: relative;
    }
    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: 1;
      display: block;
    }
    .bs-component .modal-dialog {
      width: 90%;
    }
    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 15px;
    }
    .progress {
      margin-bottom: 10px;
    }
  }
@media ( max-width: 991px ) {
  .sp-mt-20{
    margin-top: 20px;
  }
}