<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Honoka</title>

  <%= csrf_meta_tags %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://use.fontawesome.com/379c382024.js"></script>

  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">ekitell</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="/">Top</a></li>
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle bg-theme-color" data-toggle="dropdown" role="button" aria-expanded="false">Demo <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="./bootstrap-ja.html">Japanese Page</a></li>
              <li><a href="./bootstrap.html">English Page</a></li>
            </ul>
          </li>
          <li><a href="//github.com/windyakin/Honoka/releases">Download</a></li>
          <li><a href="//github.com/windyakin/Honoka/wiki">Wiki</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
    <%= yield %>
<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">
      <div class="row row-p b-md">

        <div class="col-md-4">
          <div class="gtco-widget">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?</p>
          </div>
        </div>

        <div class="col-md-2 col-md-push-1">
          <div class="gtco-widget">
            <h3>Destination</h3>
            <ul class="gtco-footer-links">
              <li><a href="#">Europe</a></li>
              <li><a href="#">Australia</a></li>
              <li><a href="#">Asia</a></li>
              <li><a href="#">Canada</a></li>
              <li><a href="#">Dubai</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-md-push-1">
          <div class="gtco-widget">
            <h3>Hotels</h3>
            <ul class="gtco-footer-links">
              <li><a href="#">Luxe Hotel</a></li>
              <li><a href="#">Italy 5 Star hotel</a></li>
              <li><a href="#">Dubai Hotel</a></li>
              <li><a href="#">Deluxe Hotel</a></li>
              <li><a href="#">BoraBora Hotel</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-md-push-1">
          <div class="gtco-widget">
            <h3>Contact</h3>
            <ul class="gtco-quick-contact">
              <li><a href="#"><i class="fa fa-envelope"></i> info@freehtml5.co</a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row copyright">
        <div class="col-md-12">
          <p class="pull-left">
            <small class="block">© 2016 Free HTML5. All Rights Reserved.</small> 
            <small class="block">Designed by <a href="https://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
          </p>
          <p class="pull-right">
            </p><ul class="gtco-social-icons pull-right">
              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
            </ul>
          <p></p>
        </div>
      </div>

    </div>
  </footer>

<script type="text/javascript">
  $('.bs-component [data-toggle="popover"]').popover();
  $('.bs-component [data-toggle="tooltip"]').tooltip();

  $('#anti-yu-gothic-button').on('click', function() {
    if ( $('body').hasClass('no-thank-yu') ) {
      $('body').removeClass('no-thank-yu');
      $(this).text('游ゴシックを無効にする').removeClass('btn-primary').addClass('btn-danger');
      $("#anti-yu-gothic-message").html('現在デモページは游ゴシックの指定が<span class="text-primary">有効</span>になっています。');
    }
    else {
      $('body').addClass('no-thank-yu');
      $(this).text('游ゴシックを有効にする').removeClass('btn-danger').addClass('btn-primary');
      $("#anti-yu-gothic-message").html('現在デモページは游ゴシックの指定が<span class="text-danger">無効</span>になっています。');
    }
  });
</script>

</body>
</html>